{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
	<h1>Register</h1>

	{{ form_start(form) }}
	{{ form_row(form.content,{
        'label':'Contenu de la vidéo',
    }) }}
	{{ form_row(form.status) }}
	{# {{ form_row(form.user) }} #}
	{{ form_row(form.video_order) }}

	<button type="submit" class="btn">Register</button>
	{{ form_end(form) }}
{% endblock %}
