{% extends 'base.html.twig' %}

{% block title %}
	{{ article.title }}
{% endblock %}

{% block body %}
	<div class="max-w-3xl bg-[#181A2A] min-h-screen text-white mx-auto text-lg pt-20">
		<h1 class="text-2xl font-bold pt-4">{{ article.title }}</h1>
		<div class="flex gap-x-2 text-sm my-6 text-gray-500">
			<div>{{ article.date | format_datetime(locale='fr',pattern="EEEE dd MMMM YYYY") }}</div>
		</div>
		<img class="h-96 w-full mt-2 object-cover rounded-xl" src="{{ article.thumbnail }}"/>
		<div class="whitespace-pre-line mx-auto  text-gray-400 mt-6">{{ article.description }}</div>

		<div id="comments" class="mt-10 pb-10">
			<h2 class="font-bold uppercase text-3xl mb-8">Commentaires</h2>
			{{
			form_start(form, {
			attr: {
				class: "flex  w-full flex flex-col gap-4"
			}
			})
		}}

			{{ form_row(form.value,{
			'label':'Ajouter un commentaire',
			attr:{
				'placeholder':'',
			class: "border-2 flex flex-col w-full mt-2 border-gray-500 rounded bg-transparent p-3"

        }}
			) 
															}}

			<button type="submit" class="bg-zinc-500 text-white px-4 py-2 rounded mt-6">Envoyer</button>
			{{ form_end(form) }}

			{# loop comments #}
			{% for comment in comments %}
				<div class="mt-10">
					<div class="flex gap-4">
						<div class="w-12 h-12 rounded-full bg-gray-500"></div>
						<div class="flex flex-col">
							<div class="flex gap-2">
								<div class="font-bold">{{comment.user.email}}</div>
								<div class="text-gray-500">{{ comment.date | format_datetime(locale='fr',pattern="EEEE dd MMMM YYYY") }}</div>

							</div>
							<div class="text-gray-400 mt-2">{{comment.value}}</div>
						</div>
					</div>
				</div>
			{% endfor %}

		</div>
	{% endblock %}
